.container_nav {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(1, 167, 132, 1);
  padding: 22px;
  color: white;
  text-align: center;
  .wrapper_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1296px;
    width: 100%;
    margin: 0 auto;
    .nav_back {
      width: 100%;
      font-size: 1.1rem;
      font-weight: 400;
      text-align: left;
    }

    .nav_next {
      width: 100%;
      font-size: 1.1rem;
      font-weight: 400;
      text-align: right;
    }
  }
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 0.2em;
  vertical-align: middle;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin: -2px 5px 0px 0px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin: 0px 0px 0px 5px;
}

.mobile {
  display: none;
}

@media (max-width: 1400px) {
  .wrapper_nav {
    width: 100%;
    .nav_back {
      margin-left: 25px;
    }
    .nav_next {
      margin-right: 25px;
    }
  }
}

@media (max-width: 1024px) {
  .desktop {
    display: none;
  }

  .container_nav + .mobile {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    .wrapper_nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0px 12px;
      width: 100%;
      margin: 0 auto;
      .nav_back {
        font-size: 1rem;
        margin-left: 0;
        padding-right: 10px;
      }

      .nav_next {
        width: 100%;
        font-size: 1rem;
        margin-right: 0;
        padding-left: 10px;
      }
    }
  }

  .arrow {
    padding: 0.32em;
  }
}
