.container {
  max-width: 1296px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 25px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 24px;
  gap: 24px;

  .left_column {
    grid-column: 1 / span 4;
    font-size: 120%;
  }

  .right_column {
    grid-column: 5/-1;
    padding-left: 35px;
  }
}

.details_course {
  padding: 28px 24px;
  background-color: #f1f1f1;
  margin-bottom: 32px;
  border-radius: 6px;
  .course_title {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  .profile_photo {
    display: block;
    margin-bottom: 20px;
    img {
      margin-left: auto;
      margin-right: auto;
      max-width: 180px;
      border-radius: 50%;
    }
  }
  .profile_name {
    text-align: center;
    font-weight: 600;
    color: black;
    font-size: 1.3rem;
    margin-bottom: 4px;
  }
  .position {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 200;
  }
  .app_tools {
    font-weight: 300;
    font-size: 1rem;
    padding: 0px 0px 8px 0px;
  }
}

.teacher_data {
  margin: 0px 0px 10px 0px;
  &:last-child {
    margin: 0px;
  }
  .teacher_data_section {
    font-weight: 600;
    font-size: 1rem;
    color: black;
  }
  .teacher_data_section {
    font-weight: 600;
    font-size: 0.9rem;
    color: black;
    padding: 0 0 2px 0;
  }
  .teacher_data {
    font-weight: 200;
    font-size: 1rem;
    color: black;
  }
}

.title_section {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.375rem;
  margin-bottom: 20px;
}

.temary {
  ol {
    max-width: 800px;
    margin: 0px 0px 0px 46px;
    counter-reset: temary-counter;
    li {
      font-size: 1.4rem;
      font-weight: bold;
      line-height: 1.2;
      position: relative;
      text-align: left;
      margin: 30px 0px 25px 0px;
      color: black;
      &::before {
        cursor: initial;
        width: 2rem;
        padding: 0.3rem 0px;
        font-weight: bold;
        font-size: 1.4rem;
        position: absolute;
        text-align: center;
        top: -4px;
        left: -2.8rem;
        content: counter(temary-counter);
        counter-increment: temary-counter;
        background-color: rgba(1, 167, 132, 1);
        color: white;
      }
    }
    ul {
      margin: 15px 0px 30px 0px;

      li {
        cursor: initial;
        font-size: 1.2rem;
        font-weight: 300;
        padding-left: 0px;
        margin: 0px 0px 10px 28px;
        list-style: square;
        &::before {
          content: none;
          font-size: 1.2rem;
          color: black;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;

    .right_column {
      padding: 0;
    }
  }
}
