.container {
  max-width: 1396px;
  width: 100%;
  margin: 0 auto;
  font-weight: 300;
  font-size: 1.3em;
  padding: 0px 50px;
  color: #222;
  article {
    .title_extensions {
      font-weight: 800;
    }
    .title_block {
      margin-bottom: 20px;
    }

    .subtitle_block {
      margin: 45px 0px 10px 0px;
      font-weight: 600;
      font-size: 1.8rem;
    }

    .subsection_block {
      margin: 12px 0px 10px 0px;
      font-weight: 300;
      font-size: 1.3rem;
      display: flex;
      &.with_icon {
        align-items: center;
      }

      &.bold_title {
        font-weight: 800;
      }
      &.margin_top {
        margin-top: 25px;
      }
    }
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  line-height: 1.6rem;

  thead {
    tr {
      background-color: rgba(1, 167, 132, 1);
      color: #ffffff;
      text-align: left;
    }
  }
  th,
  td {
    padding: 12px 15px;
    &.bold {
      font-weight: bold;
    }
  }
  tbody {
    tr {
      border-bottom: 1px solid #dddddd;
      .active-row {
        font-weight: bold;
        color: #009879;
      }
      &:nth-of-type(even) {
        background-color: #f3f3f3;
      }

      &:last-of-type {
        border-bottom: 2px solid rgba(1, 167, 132, 1);
      }
      &:hover {
        background-color: rgba(204, 219, 249, 100);
      }
    }
  }
}

.img_center {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.img_vscode_extension {
  margin: 0px 12px 0px 0px;
}

.link_underline {
  text-decoration: underline;
  &:hover {
    color: rgba(1, 167, 132, 1);
    text-decoration: none;
  }
}

.link_off {
  pointer-events: none;
}

@media (max-width: 1024px) {
  .container {
    max-width: 1396px;
    width: 100%;
    margin: 0 auto;
    font-weight: 300;
    font-size: 1em;
    padding: 0px 25px;
  }
}
