.container {
  max-width: 1396px;
  width: 100%;
  margin: 0 auto;
  font-weight: 300;
  font-size: 1.3em;
  padding: 0px 50px;
  color: #222;
  article {
    .title_extensions {
      font-weight: 800;
    }
    .title_block {
      margin-bottom: 12px;
    }

    .subtitle_block {
      margin: 45px 0px 10px 0px;
      font-weight: 600;
      font-size: 1.8rem;
    }

    .subsection_block {
      margin: 12px 0px 10px 0px;
      font-weight: 300;
      font-size: 1.3rem;
      display: flex;
      &.with_icon {
        align-items: center;
      }

      &.bold_title {
        font-weight: 800;
      }
    }
  }
}

.img_center {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.img_vscode_extension {
  margin: 0px 12px 0px 0px;
}

@media (max-width: 1024px) {
  .container {
    max-width: 1396px;
    width: 100%;
    margin: 0 auto;
    font-weight: 300;
    font-size: 1em;
    padding: 0px 25px;
  }
}
